.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#home {
    /*height: 420px;*/
    width: 100%;
    /*background: url(/img/bg/3.jpg) no-repeat top center/cover fixed;*/
    background-color: #000000;
    color: #ffffff;
    padding: 80px;
}

.lade {
    width: 720px;
    margin: 0 auto;
}

.bg-gray {
    background-color: #f5f5f5;
}

#svg-logo {
    height: 85%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -332px;
}

body {
    color: #000000;
    background-color: transparent !important;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 40px;
    float: left;
}

header ul li {
    float: left;
}
header ul li:first-child {
    padding-left: 0 !important;
}

.ng-scope {
    width: 100%;
    float: left;
}

header {
    height: 84px;
    background-color: white;
}
header .logo {
    float: left;
    padding: 0 10px;
    background-color: #63c6ae;
}

#logo {
    color: #ffffff;
    display: block;
    border: 3px solid white;
    padding: 10px 10px;
    margin: 10px 0;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.1;
    font-size: 36px;
}

#logo:hover {
    color: #16a085;
    border-color: #16a085;
    cursor: pointer;
}

nav ul li a.active {
    color: #63c6ae;
}

nav ul li a {
    display: block;
    padding: 0 15px;
    text-transform: uppercase;
    color: #586165;
    font-size: 16px;
    line-height: 83px;
    font-weight: 600;
    letter-spacing: -0.02em;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.peter-river-flat-button {
    padding: 10px 15px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    font-size: 30px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    border-bottom: 2px solid #2a8bcc;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
    /*-webkit-appearance: button;*/
}

.peter-river-flat-button:hover {
    text-decoration: none;
}
.peter-river-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/** */

.bg-dark {
    color: white;
    background-color: #222222;
}

section {
    padding: 100px 0;
}