.starter-template {
    padding: 40px 15px;
    text-align: center;
}

html {
    background: url(/img/bg/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: #ffffff;
    background-color: transparent !important;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

ul li {
    float: left;
    padding: 10px 15px;
}
ul li:first-child {
    padding-left: 0 !important;
}

.ng-scope {
    width: 100%;
    float: left;
}

#logo {
    display: block;
    border: 3px solid white;
    width: 286px;
    padding: 10px 10px;
}

#logo:hover {
    color: #16a085;
    border-color: #16a085;
    cursor: pointer;
}