.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#home {
    height: 800px;
    width: 100%;
    background: url(/img/bg/2.jpg) no-repeat top center/cover fixed;

}

body {
    color: #ffffff;
    background-color: transparent !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 40px;
    float: left;
}

ul li {
    float: left;
}
ul li:first-child {
    padding-left: 0 !important;
}

.ng-scope {
    width: 100%;
    float: left;
}

header {
    height: 84px;
    background-color: white;
}
header .logo {
    float: left;
    padding: 0 10px;
    background-color: #63c6ae;
}

#logo {
    display: block;
    border: 3px solid white;
    width: 286px;
    padding: 10px 10px;
    float: right;
    margin: 10px 0;
}

#logo:hover {
    color: #16a085;
    border-color: #16a085;
    cursor: pointer;
}

nav ul li a.active {
    color: #63c6ae;
}

nav ul li a {
    display: block;
    padding: 0 15px;
    text-transform: uppercase;
    color: #586165;
    font-size: 16px;
    line-height: 83px;
    font-weight: 600;
    letter-spacing: -0.02em;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
